.catalog {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.catalog__container {
  padding: 17px 0 0 0;

  @media (min-width: $vp-768) {
    padding-top: 33px;
  }
}

.catalog__title {
  margin: 0 0 38px 0;

  @media (min-width: $vp-768) {
    margin-bottom: 82px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__item {
  position: relative;

  display: grid;
  padding: 21px 0 23px 0;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    padding: 17px 38px 38px 39px;

    background-image: linear-gradient(transparent 81px, $color-white-smoke 81px);

    grid-template-columns: 1fr;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper-eb;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.catalog__link-img {
  display: flex;
  justify-content: center;

  @media (min-width: $vp-768) {
    align-items: flex-end;
    width: 168px;
    height: 200px;
    margin: 0 auto 25px auto;
  }
}

.catalog__content {
  margin-bottom: 22px;
}

.catalog__subtitle {
  display: block;
  max-width: 95px;
  margin: 0 0 14px 0;

  color: $color-nero;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $vp-768) {
    max-width: 150px;
    margin: 0 auto 21px auto;

    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-1300) {
    line-height: 21px;
  }
}

.catalog__show-more-subtitle {
  color: $color-black-special;

  @media (min-width: $vp-768) {
    line-height: 21px;
  }
}

.catalog__description {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    display: grid;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 16px;

    gap: 15px;
  }
}

.catalog__description-wrapper {
  position: relative;
  display: grid;

  gap: 10px;
  grid-template-columns: 1fr 1fr;

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-very-light-grey;
    }
  }
}

.catalog__description-definition {
  margin: 0;

  text-align: right;
}

.catalog__show-more-text {
  @media (min-width: $vp-768) {
    line-height: 18px;
  }
}

.catalog__button {
  grid-column: 1/-1;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

.catalog__show-more-button {
  color: $color-charcoal;

  background-color: $color-white-smoke;
}
