.catalog {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.catalog__container {
  padding: 26px 0 0 0;

  @media (min-width: $vp-768) {
    padding-top: 42px;
  }

  @media (min-width: $vp-1300) {
    padding-top: 56px;
  }
}

.catalog__title {
  margin: 0 0 38px 0;

  @media (min-width: $vp-768) {
    margin-bottom: 82px;
  }

  @media (min-width: $vp-1300) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;
    align-items: start;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1300) {
    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  position: relative;

  display: grid;
  padding: 21px 0 23px 0;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    padding: 17px 38px 38px 39px;

    background-image: linear-gradient(transparent 81px, $color-white-smoke 81px);

    grid-template-columns: 1fr;
  }

  @media (min-width: $vp-1300) {
    padding-top: 7px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper-eb;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.catalog__show-more {
  padding: 25px 0;

  grid-template-columns: 1fr;

  @media (min-width: $vp-768) {
    min-height: 510px;
    padding: 134px 38px 36px;

    background-image: none;

    gap: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper-eb;

    @media (min-width: $vp-768) {
      left: 0;
      z-index: -1;

      width: 100%;
      height: calc(100% - 82px);

      background-color: transparent;
      border: 2px solid $color-white-smoke;
    }
  }
}

.catalog__link-img {
  display: flex;
  justify-content: center;
  z-index: 1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    align-items: flex-end;
    width: 168px;
    height: 200px;
    margin: 0 auto 22px auto;
  }

  @media (min-width: $vp-1300) {
    margin-bottom: 33px;
  }
}

.catalog__content {
  margin-bottom: 22px;
}

.catalog__subtitle {
  display: block;
  max-width: 95px;
  margin: 0 0 14px 0;

  color: $color-nero;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    max-width: 150px;
    margin: 0 auto 18px auto;
    padding: 3px 0;

    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-1300) {
    line-height: 21px;
  }
}

.catalog__show-more-subtitle {
  display: grid;
  max-width: 100%;
  margin: 0 auto 8px auto;

  text-align: center;
  color: $color-black-special;

  gap: 23px;
  justify-items: center;

  @media (min-width: $vp-768) {
    width: 165px;
    margin-bottom: 0;

    line-height: 21px;

    gap: 42px;
  }

  @media (min-width: $vp-768) {
    gap: 36px;
  }

  &::before {
    content: "";

    display: block;
    width: 30px;
    height: 30px;

    background-image: url("../img/stack.svg#plus");
    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      width: 60px;
      height: 60px;

      background-image: url("../img/stack.svg#plus-big");
    }
  }
}

.catalog__description {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    display: grid;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 16px;

    gap: 15px;
  }

  @media (min-width: $vp-1300) {
    gap: 18px;
  }
}

.catalog__description-wrapper {
  position: relative;

  display: grid;

  gap: 10px;
  grid-template-columns: 1fr 1fr;

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-very-light-grey;
    }
  }
}

.catalog__description-definition {
  margin: 0;

  text-align: right;
}

.catalog__show-more-text {
  margin: 0 auto 21px auto;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-lato;
  text-align: center;
  color: #444444;

  @media (min-width: $vp-768) {
    width: 165px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 40px;
  }
}

.catalog__button {
  align-self: end;

  grid-column: 1/-1;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}
