.category__item {
  background-color: $color-white-smoke;
}

.category__description {
  @media (min-width: $vp-768) {
    color: $color-black;
  }
}

.category__link {
  color: $color-black;
  text-decoration: none;
  line-height: 16px;
  text-transform: uppercase;
}
