.contacts {
  &--background-grey {
    background-color: $color-white-smoke;
  }
}

.contacts__container {
  display: grid;
  margin: 0 auto;
  padding: 26px 20px;

  gap: 2px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    padding: 56px 70px 61px 70px;
  }
}

.contacts__slogan {
  max-width: 172px;
  margin: 0;
  padding-right: 10px;

  color: $color-black-special;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 4px;

    line-height: 26px;
  }
}

.contacts__address {
  max-width: 160px;

  font-style: normal;
  line-height: 20px;

  @media (min-width: $vp-768) {
    text-align: right;

    justify-self: end;
  }
}

.contacts__address-text {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.contacts__map-image {
  display: block;
  width: 100%;
}
