.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__info {
  font-family: $font-lato;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 16px;
  }
}
