.hero__title {
  line-height: 36px;

  @media (min-width: $vp-768) {
    line-height: 60px;
  }
}

.hero__description {
  line-height: 14px;

  @media (min-width: $vp-768) {
    line-height: 20px;
  }
}

.hero__button {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }
}
