.slider-compare {
  margin: 0;

  --slider-percent: 50%;
}

.slider-compare__wrapper {
  position: relative;

  display: grid;
  justify-content: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 560px;
  }
}

.slider-compare__image {
  grid-column-start: 1;
  grid-row-start: 1;
}

.slider-compare__image--state-before {
  clip-path: polygon(0 0, var(--slider-percent) 0, var(--slider-percent) 100%, 0% 100%);
}

.slider-compare__image--state-after {
  clip-path: polygon(var(--slider-percent) 0, 100% 0, 100% 100%, var(--slider-percent) 100%);
}

.slider-compare__thumb {
  position: absolute;
  top: 0;
  left: var(--slider-percent);
  z-index: 1;

  width: 4px;
  height: 100%;
  padding: 0;

  background-color: $color-dim-gray;
  border: none;
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 40px;
    height: 40px;

    border: 2px solid $color-dim-gray;
    background-color: $color-white;
    border-radius: 50%;
    background-image: url("../img/svg/thumb.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
  }
}
