.slider-compare {
  margin: 0;

  --slider-percent: 50%;
}

.slider-compare__wrapper {
  position: relative;

  display: grid;
  justify-content: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 560px;
  }
}

.slider-compare__image {
  grid-column-start: 1;
  grid-row-start: 1;
}

.slider-compare__image--state-before {
  clip-path: polygon(0 0, var(--slider-percent) 0, var(--slider-percent) 100%, 0% 100%);
}

.slider-compare__image--state-after {
  clip-path: polygon(var(--slider-percent) 0, 100% 0, 100% 100%, var(--slider-percent) 100%);
}

.slider-compare__thumb {
  position: absolute;
  top: 0;
  left: var(--slider-percent);
  z-index: 1;

  width: 4px;
  height: 100%;
  padding: 0;

  background-color: $color-dim-gray;
  border: none;
  border-radius: 2px;
  cursor: col-resize;

  &:hover {
    background-color: $color-apple;
  }

  &:active {
    background-color: rgba($color-limeade, 0.6);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 40px;
    height: 40px;

    background-color: $color-white;
    border: 2px solid $color-dim-gray;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 24px;
    height: 18px;

    background-color: $color-dim-gray;
    transform: translate(-50%, -50%);

    mask-image: url("../img/stack.svg#thumb");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
  }
}

.slider-compare__thumb:hover::before {
  border-color: $color-apple;
}

.slider-compare__thumb:active::before {
  border-color: rgba($color-limeade, 0.6);
}

.slider-compare__thumb:hover::after {
  background-color: $color-apple;
}

.slider-compare__thumb:active::after {
  background-color: rgba($color-limeade, 0.6);
}
