.subtitle {
  display: inline-flex;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
  }
}
