.textarea {
  width: 100%;
  height: 150px;
  padding: 10px 14px;

  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-charcoal;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $color-whisper-e7;

  resize: none;

  @media (min-width: $vp-768) {
    height: 174px;
    line-height: 30px;
    padding-left: 19px;
    padding-right: 19px;
  }

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: $color-very-light-grey;
  }

  &:focus {
    border-color: $color-charcoal;
    outline: 1px solid $color-charcoal;
  }
}
