// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-charcoal:           #444444;
$color-black-special:      #111111;
$color-nero:               #222222;
$color-apple:              #68b738;
$color-limeade:            #5eaa2f;
$color-white-smoke:        #f2f2f2;
$color-whisper-ea:         #eaeaea;
$color-whisper-e6:         #e6e6e6;
$color-gainsboro:          #d9d9d9;
$color-very-light-grey:    #cdcdcd;
$color-dim-gray:           #666666;
$color-dim-gray-6b:        #6b6b6b;
$color-eclipse:            #3e3e3e;

// Viewports
$vp-768:                     768px;
$vp-1300:                    1300px;

//Fonts
$font-lato:                  "Lato", "Arial", sans-serif;
$font-oswald:                "Oswald", "Arial", sans-serif;
