// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-charcoal:           #444444;
$color-black-special:      #111111;
$color-nero:               #222222;
$color-apple:              #68b738;
$color-white-smoke:        #f2f2f2;
$color-whisper:            #eaeaea;

// Viewports
$vp-768:                     768px;
$vp-1300:                    1300px;
