// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-charcoal:           #444444;
$color-black-special:      #111111;
$color-nero:               #222222;

// Viewports
$vp-768:                     768px;
$vp-1280:                    1280px;
